
.body {
    
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: black;
} 

html, body {
    margin: 0 0;
    width: 100%;
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex; 
    
    height: 44px;
    /* flex: 1 1 auto; */
    background-color: #000000;
}

.container div {
    margin: 0 auto;
    padding: 0 10px;
}

.upper-left {
    position: relative;
    display: flex;
    flex-direction: row;
    

    font-size: 14px;
    line-height: 16px;
    color: #969696;
}

.lolk {
    position: relative;
    display: flex;
    align-items: center;
    
    padding: 0 5px;
}

.lol::after{
    content:"|";
    margin: 0 10px 0 10px;
} 

.lol:last-child::after{
    content: "";
}

.upper-right {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* max-width: 1920px; */
    font-size: 14px;
    line-height: 16px;
    /* text-align: right; */
}

.upper-right_link::after {
    content: "";
    margin: 0 5px;
}

.upper-right_link:last-child::after {
    content: "";
}

.upper-right_link {
    color: #969696;
    text-decoration: none;
}

.nav_logo {
    position: relative;
    display: flex;
    flex-direction: row;
    
    /* width: 1920px; */
    height: 80px;
    /* left: 0px;
    top: 44px; */
    background-color: black;
}

.nav_logo div {
    margin: 100px 100px;
    padding: 10px 10px;
}

.trashbag_search {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
       
}

.trashbag {
    
    display: flex;
    margin: 0 5px;

    
}

.search {
    
    display: flex;
    margin: 0 5px;
    

}


.nav_nav {
position: relative;
display: flex;
/* width: 478px; */
height: 80px;
left: 920px;
top: auto;
z-index: 1000;


font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}



.nav_link {
    position: relative;
    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 31px dashed #000000;
    margin: auto;
}

/* .nav_link::after {
    margin: 0 10px 0 10px;
}

.nav_link:last-child::after {
    content: "";
} */

.nav_link:first-child {
    border: 31px dashed #1f1f1f;
    background-color: #1f1f1f;
    border-radius: 3px; 
    z-index: 1000;
}



.logo {
    position: relative;
    display: flex;
    align-items: center;
    /* width: 104px;
    height: 49px; */
    
    /* left: 400px; */
    /* display: flex; top 14px */
    top: auto;
    text-decoration: none;
    color: white;

    font-family: Post No Bills Jaffna;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
}

/* .main {
width: 100%;
height: 100vh;
display: flex;
background: url("/assets/image/main.jpg") center no-repeat;
-webkit-background-size: cover;
background-size: cover;
} */

.main {
    /* position: absolute; */
flex: 1 1 auto;
width: 1920px;
height: 810px;
left: 0px;
top: 124px;
}


.content {
position: absolute;
width: 730px;
height: 96px;
left: 595px;
top: 684px;
display: flex;

font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.prod {
    position: relative;
    display: flex;
    flex-direction: row;  
    margin: 0 0;
    padding: 0 0;
}


.product {
    /* min-height: 100%; */
    flex-direction: column;
    display: block;
    /* background-color: #000000; */
    width: 1040px;
    height: 730px;
    left: 0px;
    top: 934px;
    /* float: right; */
    background: #000000;
}




.name_product {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    
    color:#FFFFFF;
    
    font-family: 'PT sans';
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
}


.product_product {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 200px;
    padding: 0 0;
}

.clock_main {
    display: flex;
    
    border-radius: 2%;
    border: auto dashed #f3f3f3;
    background-color: #191B1C;
    margin: 0px 20px;
    
    
    /* justify-content: space-between; */

}

.clock_name {
    position: relative;
    display: flex;
  
    

}



.product_collection {
    width: 880px;
    height: 730px;
    position: relative;
    display: block;
    /* flex: 1 1 auto; */
    /* max-width: 100%; */
    /* min-width: 880px; */
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(/assets/image/new-collection.jpg),no-repeat #000000;
   
    
}

.new_collection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.line {
    position: relative;
    display: flex;
    height: 10px;
    width:  125px;
    border-top: 1px solid #ffffff;
    /* border-bottom: dotted 1px #9EC1D4; */
    padding-left: 10px;
    
}

.collection_text {
    font-style: normal; 
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
   
    color: #FFFFFF;
}

.asd {
    
    margin: 20px 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    text-decoration: none;
    border: 1px solid #ffffff;
    /* box-sizing: border-box; */
}



































